{% extends 'base.html.twig' %}

{% block title %}edit_product{% endblock title%}

{% block body %}
    {% block navbar %}{% endblock navbar %}

    <div class="container">
        <p id="title">
            Ajouter un produit
        </p>
        {{ form(form) }}</div>

{% endblock %}
