{% extends 'base.html.twig' %}

{% block title %}Product Page{% endblock title %}

{% block product %}
<ul>
{% for Product in product %}
<li>{{Product.nameProduct}}</li>
{% endfor %}

</ul>
{% endblock product %}

